*
!.gitignore
!README.org

# Deafult files.
!essay.txt
!default.yaml
!key_bindings.yaml
!punctuation.yaml
!symbols.yaml
!luna_pinyin.dict.yaml
!luna_pinyin_simp.schema.yaml

# Customization.
!default.custom.yaml
!wubi86.custom.yaml
!wubi86.schema.yaml
!wubi86.dict.yaml
!wubi86_char.dict.yaml
!wubi86_char_user.dict.yaml
!pinyin_simp.dict.yaml
!pinyin_simp.schema.yaml
!wubi98.custom.yaml
!wubi98.schema.yaml
!wubi98.dict.yaml
!wubi98_user.dict.yaml

# Android.
!trime.yaml